{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('administration_tag_index') }}"><button>tag</button></a>
<a href="{{ path('administration_category_index') }}"><button>category</button></a>
<a href="{{ path('administration_article_index') }}"><button>article</button></a>

{% endblock %}